
// Colors
$color-primary: #274C5B;

$color-accent-light: #EFF6F1;
$color-accent: #7EB693;
$color-accent-alt: #EFD372;

$color-neutral-light: #F9F8F8;
$color-neutral: #D4D4D4;
$color-neutral-dark: #525C60;

$color-bg: #FFFFFF;
