@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@700;900&family=Yellowtail&display=swap');

$font-size-s: 16px;
$font-size-h1: 70px;
$font-size-h2: 50px;
$font-size-h3: 40px;
$font-size-h4: 35px;
$font-size-h5: 30px;
$font-size-h6: 25px;
$font-size-p: 18px;
$font-size-quote: 20px;
$font-size-subtitle: 36px;

$font-family-headers: 'Roboto', sans-serif;
$font-family-main: 'Open Sans', sans-serif;
$font-family-subtitle: 'Yellowtail', sans-serif;

$font-weight-extrabold: 900;
$font-weight-bold: 700;
$font-weight-default: 400;
