$space-xxs: 8px;
$space-xs: 16px;
$space-s: 24px;
$space-m: 48px;
$space-ml: 96px;
$space-l: 192px;
$space-xl: 256px;
$space-xxl: 312px;

$space-header-h: 96px;
$space-block-h: 128px;

$border-radius-default: 36px;
$border-radius-small: 18px;
$border-radius-smaller: 12px;